name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v6

    - uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install UV
      run: python -m pip install --upgrade uv

    - name: Install dependencies
      run: uv sync

    - name: Build the frozen-flask
      run: uv run cli.py build

    - name: Configure AWS Credentials OIDC login
      if: github.ref == 'refs/heads/main'
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: 'arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-actions-for-my-projects'
        aws-region: us-east-1

    - name: Deploy to S3
      if: github.ref == 'refs/heads/main'
      run: |
        aws s3 sync --delete build/ s3://projects.tanay.tech/